<footer class="bg-slate-900">
  
  <div class="container text-slate-200 mx-auto px-4 mt-4 py-5">

    <div class="grid grid-cols-12">
      <div class="col-span-6">
        © 2025 Pretium. All rights reserved.
      </div>

      <div class="col-span-6">
        <div class="flex justify-end">
          <ul class="flex gap-4">
            <li>
              <a href="#" target="_blank" class="flex items-center gap-2">
                <i class="icon-[bi--linkedin]"></i> 
                <span>Linkedin</span>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" class="flex items-center gap-2">
                <i class="icon-[streamline--instagram-solid]"></i>
                <span>Instagram</span>
              </a>
            </li>
          </ul>
        <div>
      </div>
    </div>

  </div>

</footer> 