<header class="bg-white shadow-lg py-3">
  
  <div class="container mx-auto px-4 flex items-center gap-4">
    
    <a href="/" class="w-40">
      <img src="/assets/img/logo.svg">
    </a>


    <nav class="flex grow-1 items-center">
      
      <ul class="flex items-center ms-auto text-lg">
        <li>
          <a href="/about-us" class=" hover:text-red-700 px-3">About us</a>
        </li>
      </ul>

      <a href="#" 
        class="ms-auto text-lg bg-red-700 text-white rounded-xl py-2 px-3 hover:bg-red-800 active:ring-2">
        Contact us
      </a>

    </nav>

  </div>
  
</header>