<header class="bg-white shadow py-4">
  
  <div class="container mx-auto px-4 flex items-center gap-4">
    
    <a href="/" class="w-24">
      <img src="/assets/img/logo.svg">
    </a>


    <nav class="flex grow-1 items-center">
      
      <ul class="flex grow-1 items-center gap-3">
        <li>
          <a href="/services" class="text-lg hover:text-red-600">Services</a>
        </li>
        <li>
          <a href="/services" class="text-lg hover:text-red-600">Success Stories</a>
        </li>
        <li>
          <a href="/services" class="text-lg hover:text-red-600">Technologies</a>
        </li>
        <li>
          <a href="/services" class="text-lg hover:text-red-600">Industries</a>
        </li>
        <li>
          <a href="/services" class="text-lg hover:text-red-600">Company</a>
        </li>

        <li class="ms-auto">
          <a href="/contact" 
          class="text-lg bg-red-600 text-white rounded-xl py-2 px-3 hover:inset-shadow-sm inset-shadow-black/50">
          Contact us
          </a>
        </li>
      </ul>

    </nav>

  </div>
  
</header>