<!DOCTYPE html>
<html lang="az">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">

  {% block styles %}{% endblock %}

</head>
<body>

  {% include "header.njk" %}
  
  <main class="max-w-7xl mx-auto px-4 py-4">
    {{ content | safe }}
  </main>

  {% block scripts %}{% endblock %}

</body>
</html> 